In [80]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [81]:
# Read the CSV files into DataFrames
df_2020 = pd.read_csv('Resources/athletic_sales_2020.csv')
df_2021 = pd.read_csv('Resources/athletic_sales_2021.csv')

# Check that the columns in the two DataFrames have similar names and data types
if set(df_2020.columns) == set(df_2021.columns) and all(df_2020.dtypes == df_2021.dtypes):
    print("The columns and data types match.")
else:
    print("The columns or data types do not match.")
    print("Columns in 2020 data:", df_2020.columns)
    print("Columns in 2021 data:", df_2021.columns)
    print("Data types in 2020 data:", df_2020.dtypes)
    print("Data types in 2021 data:", df_2021.dtypes)

# Combine the DataFrames by the rows using an inner join, and reset the index
combined_df = pd.concat([df_2020, df_2021], axis=0, join='inner').reset_index(drop=True)

# Check for null values
print(combined_df.isnull().sum())

# Check each column's data type
print(combined_df.dtypes)

#Convert the "invoice_date" to a datetime datatype - This works do not erase.
combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'], format='%m/%d/%y')

# Confirm that the data type has been changed.
print(combined_df.dtypes)

The columns and data types match.
retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object
retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

In [82]:
# Display the 2020 sales DataFrame
#print("\n2020 Sales DataFrame:")
print(df_2020)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
1292    West Gear      1128299     12/30/20       West    California
1293    West Gear      1128299     12/30/20       West    California
1294       Kohl's      1189833     12/30/20    Midwest     Minnesota
1295       Kohl's      1189833     12/30/20    Midwest     Minnesota
1296    West Gear      1128299     12/30/20       West    California

               city                  product  price_per_unit  units_sold  \
0          New York    Men's Street Footwear              50        1200
1      Philadelphia          Women's Apparel              68          83
2      Philadelphia          Women's Apparel              75         275
3          New York    Men's Street Footwear              34         384
4      Philadelphia          Women's Apparel              53          83
...             ...                      ...             ...         ...
1292  San Francisco          Women's Apparel              72         203
1293  San Francisco          Women's Apparel              80         700
1294    Minneapolis  Women's Street Footwear              41         119
1295    Minneapolis  Women's Street Footwear              45         475
1296  San Francisco          Women's Apparel              62         245

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
1292        14616           3946.32       Online
1293       560000          84000.00       Outlet
1294         4879           2878.61       Online
1295       213750          96187.50       Outlet
1296        15190           2886.10       Outlet

[1297 rows x 12 columns]

In [83]:
# Display the 2021 sales DataFrame
print(df_2021)

         retailer  retailer_id invoice_date     region         state  \
0       West Gear      1128299       1/1/21       West    California
1       West Gear      1128299       1/1/21       West    California
2          Kohl's      1189833       1/1/21    Midwest       Montana
3          Kohl's      1189833       1/1/21    Midwest       Montana
4       West Gear      1128299       1/1/21       West    California
...           ...          ...          ...        ...           ...
8341  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8342  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8343       Amazon      1185732     12/31/21  Northeast         Maine
8344       Amazon      1185732     12/31/21  Northeast         Maine
8345  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

               city                  product  price_per_unit  units_sold  \
0     San Francisco  Men's Athletic Footwear              65         750
1     San Francisco  Men's Athletic Footwear              51         233
2          Billings            Men's Apparel              50         275
3          Billings            Men's Apparel              47          77
4     San Francisco  Men's Athletic Footwear              64         225
...             ...                      ...             ...         ...
8341   Philadelphia            Men's Apparel              63          47
8342   Philadelphia            Men's Apparel              46          56
8343       Portland            Men's Apparel              52          36
8344       Portland            Men's Apparel              55         125
8345   Philadelphia            Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          487500         121875.00       Outlet
1           11883           3208.41       Outlet
2          137500          82500.00       Outlet
3            3619           2714.25       Online
4           14400           5184.00       Online
...           ...               ...          ...
8341         2961           1362.06       Online
8342         2576           1004.64       Outlet
8343         1872            692.64       Online
8344        68750          17187.50       Outlet
8345       122500          42875.00       Outlet

[8346 rows x 12 columns]

#### Check the data types of each DataFrame

In [84]:
# Check the 2020 sales data types.
# Check if the column names are the same
columns_match = set(df_2020.columns) == set(df_2021.columns)

# Check if the data types of the columns are the same
data_types_match = all(df_2020.dtypes == df_2021.dtypes)

# Display the results
if columns_match and data_types_match:
    print("The columns and data types in both DataFrames match.")
else:
    print("The columns and/or data types in the DataFrames do not match.")
    
    if not columns_match:
        print("Columns in 2020 data:", df_2020.columns)
        print("Columns in 2021 data:", df_2021.columns)
    
    if not data_types_match:
        print("Data types in 2020 data:", df_2020.dtypes)
        print("Data types in 2021 data:", df_2021.dtypes)

The columns and data types in both DataFrames match.

In [85]:
# Check the 2021 sales data types.
# Check if the column names are the same
columns_match = set(df_2021.columns) == set(df_2021.columns)

# Check if the data types of the columns are the same
data_types_match = all(df_2021.dtypes == df_2021.dtypes)

# Display the results
if columns_match and data_types_match:
    print("The columns and data types in both DataFrames match.")
else:
    print("The columns and/or data types in the DataFrames do not match.")
    
    if not columns_match:
        print("Columns in 2021 data:", df_2021.columns)
        print("Columns in 2021 data:", df_2021.columns)
    
    if not data_types_match:
        print("Data types in 2021 data:", df_2021.dtypes)
        print("Data types in 2021 data:", df_2021.dtypes)

The columns and data types in both DataFrames match.

#### Combine the sales data by rows.

In [86]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
# Combine the DataFrames by the rows using an inner join
combined_df = pd.concat([df_2020, df_2021], axis=0, join='inner')

# Reset the index
combined_df = combined_df.reset_index(drop=True)

# Display the combined DataFrame
print(combined_df)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9638  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9639  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9640       Amazon      1185732     12/31/21  Northeast         Maine
9641       Amazon      1185732     12/31/21  Northeast         Maine
9642  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

              city                product  price_per_unit  units_sold  \
0         New York  Men's Street Footwear              50        1200
1     Philadelphia        Women's Apparel              68          83
2     Philadelphia        Women's Apparel              75         275
3         New York  Men's Street Footwear              34         384
4     Philadelphia        Women's Apparel              53          83
...            ...                    ...             ...         ...
9638  Philadelphia          Men's Apparel              63          47
9639  Philadelphia          Men's Apparel              46          56
9640      Portland          Men's Apparel              52          36
9641      Portland          Men's Apparel              55         125
9642  Philadelphia          Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
9638         2961           1362.06       Online
9639         2576           1004.64       Outlet
9640         1872            692.64       Online
9641        68750          17187.50       Outlet
9642       122500          42875.00       Outlet

[9643 rows x 12 columns]

In [87]:
# Check if any values are null.
# Check for null values in the combined DataFrame
null_values = combined_df.isnull().any()

# Display columns with null values
print(null_values)

# Check if any null values exist in the entire DataFrame
any_null = null_values.any()
print("Are there any null values in the DataFrame?", any_null)

retailer            False
retailer_id         False
invoice_date        False
region              False
state               False
city                False
product             False
price_per_unit      False
units_sold          False
total_sales         False
operating_profit    False
sales_method        False
dtype: bool
Are there any null values in the DataFrame? False

In [88]:
# Check the data type of each column
column_data_types = combined_df.dtypes

# Display the data types
print(column_data_types)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [89]:
#Convert the "invoice_date" to a datetime datatype - This works do not erase.
combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'], format='%m/%d/%y')

# Display the data types to confirm the change
print(combined_df.dtypes)

retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

In [90]:
# Confirm that the "invoice_date" data type has been changed.
print(combined_df.dtypes)

retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [91]:
# Determine which Region Sold the Most Products
# Use the groupby function to create a multi-index DataFrame
aggregated_sales = combined_df.groupby(['region', 'state', 'city']).size().reset_index(name='Total Products Sold')

# Sort the results in ascending order to show the top five regions, state, and city
top_regions_by_products_sold = aggregated_sales.sort_values(by='Total Products Sold', ascending=False).head(5)

print("\nTop Regions by Products Sold:")
print(top_regions_by_products_sold)

Top Regions by Products Sold:
       region      state           city  Total Products Sold
27      South   Arkansas    Little Rock                  216
40  Southeast   Virginia       Richmond                  216
32      South      Texas         Dallas                  216
31      South  Tennessee      Knoxville                  216
30      South   Oklahoma  Oklahoma City                  216

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [92]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
# Show the top 5 results.
# Use the groupby function to create a multi-index DataFrame
aggregated_sales_amount = combined_df.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index(name='Total Sales Amount')

# Sort the results in ascending order to show the top five regions, state, and city by sales amount
top_regions_by_sales_amount = aggregated_sales_amount.sort_values(by='Total Sales Amount', ascending=False).head(5)

print(top_regions_by_sales_amount)

       region           state           city  Total Sales Amount
21  Northeast        New York       New York            39801235
44       West      California  San Francisco            33973228
34  Southeast         Florida          Miami            31600863
39  Southeast  South Carolina     Charleston            29285637
35  Southeast         Florida        Orlando            27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [93]:
# Use the groupby function to create a multi-index DataFrame with the specified columns and aggregate sales
aggregated_retailer_sales = combined_df.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index(name='Total Sales by Retailer')

# Sort the results in ascending order to show the top five retailers by sales amount
top_retailers_by_sales = aggregated_retailer_sales.sort_values(by='Total Sales by Retailer', ascending=False).head(5)

print(top_retailers_by_sales)

        retailer     region           state           city  \
103    West Gear       West      California  San Francisco
50        Kohl's       West      California    Los Angeles
22   Foot Locker  Northeast        New York       New York
109    West Gear       West      Washington        Seattle
33   Foot Locker  Southeast  South Carolina     Charleston

     Total Sales by Retailer
103                 32794405
50                  25127160
22                  25008568
109                 24862675
33                  24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [94]:
# Filter the sales data to get the women's athletic footwear sales data.
# Filter the combined DataFrame for only Women's Athletic Footwear sales data
womens_athletic_footwear_sales = combined_df[combined_df['product'] == "Women's Athletic Footwear"]
print(womens_athletic_footwear_sales.head())

       retailer  retailer_id invoice_date     region         state  \
21  Foot Locker      1185732   2020-01-04  Northeast      New York
22  Foot Locker      1185732   2020-01-04  Northeast      New York
23  Foot Locker      1185732   2020-01-04  Northeast      New York
26    West Gear      1128299   2020-01-05  Northeast  Pennsylvania
27    West Gear      1128299   2020-01-05  Northeast  Pennsylvania

            city                    product  price_per_unit  units_sold  \
21      New York  Women's Athletic Footwear              36         281
22      New York  Women's Athletic Footwear              41         247
23      New York  Women's Athletic Footwear              45         850
26  Philadelphia  Women's Athletic Footwear              45         300
27  Philadelphia  Women's Athletic Footwear              34          90

    total_sales  operating_profit sales_method
21        10116           3742.92       Outlet
22        10127           4658.42       Online
23       382500         133875.00     In-store
26       135000          47250.00       Outlet
27         3060           1254.60       Outlet

#### Using `groupby`

In [95]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

# Show the top 5 results.
# Use the groupby function on the filtered DataFrame for Women's Athletic Footwear sales data
# to create a multi-index DataFrame with the specified columns and aggregate the units sold
top_womens_footwear_retailers = womens_athletic_footwear_sales.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index(name='Total Women\'s Footwear Sold')

# Sort the results to show the top five retailers by units of women's athletic footwear sold
top_womens_footwear_retailers_sorted = top_womens_footwear_retailers.sort_values(by='Total Women\'s Footwear Sold', ascending=False).head(5)

print(top_womens_footwear_retailers_sorted)

          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Total Women's Footwear Sold
101                        12107
22                         10996
49                         10826
33                          8814
68                          8790

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [96]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the table.
# Create a pivot table with 'invoice_date' as the index and 'total_sales' as the values parameter
pivot_table = womens_athletic_footwear_sales.pivot_table(index='invoice_date', values='total_sales', aggfunc='sum')

# Rename the aggregated column to reflect the aggregation of the data
pivot_table.columns = ['Total Sales']

# Resample the pivot table to get daily total sales
daily_sales = pivot_table.resample('D').sum()

# Sort the resampled DataFrame to show the top 10 days with the most sales
top_daily_sales = daily_sales.sort_values(by='Total Sales', ascending=False).head(10)

print(top_daily_sales)

              Total Sales
invoice_date
2021-07-16        1521825
2021-12-16        1473497
2021-06-17        1376988
2021-08-17        1086294
2021-07-23        1021806
2021-11-17        1021145
2021-12-09         915011
2021-06-24         884238
2021-07-09         869054
2021-08-10         839120

In [78]:
# Resample the pivot table into daily bins, and get the total sales for each day.


# Sort the resampled pivot table in ascending order on "Total Sales".

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [97]:
# Resample the pivot table into weekly bins, and get the total sales for each week.


# Sort the resampled pivot table in ascending order on "Total Sales".
# Resample the pivot table to aggregate sales data weekly
weekly_sales = pivot_table.resample('W').sum()

# Sort the resampled DataFrame to show the top 10 weeks with the most sales
top_weekly_sales = weekly_sales.sort_values(by='Total Sales', ascending=False).head(10)

print(top_weekly_sales)

              Total Sales
invoice_date
2021-12-19        3098970
2021-12-12        2922161
2021-07-11        2835078
2021-07-18        2801449
2021-11-14        2531721
2021-08-22        2491259
2021-08-15        2463941
2021-11-21        2449537
2021-05-16        2422132
2021-06-13        2358602